.user-profile{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 0 15px;
    margin-top: 20px;
}

.post{
    display:flex;
    justify-content: center;
    background: white;
    margin-bottom: 10px;
    width: 100%;
    height: 150px;
}

.post-list{
    margin: 20px;
    margin-left: 0px;
    display: grid;
    grid-template-rows: auto auto 1fr;
    width: 100%;
    height: 100%;
}


.post-list > li:first-child{
    padding: 10px 0;
}
.post-author{
    color: rgb(43, 126, 221);
    font-size: 24px;
}

.post-date{
    color: rgb(125, 125, 125);
}

.post-title{
    padding-top: 10px;
    border-top: 1px solid rgb(175,175,175);
    font-size: 24px;
}

.post-title a{
    color: rgb(75, 75, 75);
}

.post-content{
    padding-top: 10px;
}



.link-btn{
    padding: 5px;
    margin: 0 3px;
    border-radius: 3px;
    border: 1px solid black;
}

.update-link{
    color: white;
    background: rgb(80, 80, 80);
    border-color: rgb(80, 80, 80);
    transition: background 0.5s linear, color 0.3s linear;
}

.delete-link{
    color: white;
    background: red;
    border-color: red;
    transition: background 0.5s linear, color 0.3s linear;
}


.update-link:hover{
    color: rgb(80, 80, 80);
    background: white;
    transition: background 0.5s linear, color 0.3s linear;
}

.delete-link:hover{
    color: red;
    background:  white;
    transition: background 0.5s linear, color 0.3s linear;
}



