{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}">
    {%block stylesheets %}{% endblock %}
    <title>{%block title%}{% endblock %}</title>
</head>
<body>
    <!--Nav Bar Header-->
    <header>
        <nav class='main-nav bg-dark flex-horizontal-ctr fixed-top'>
            <div class='nav-container'>
                <section class='nav-left flex-default'>
                    <h1 class='site-title'>Django Blog</h1>
                    <span class='nav-link-ctn'><a class='nav-link' href="{% url 'blog-home' %}">Home</a></span>
                    <span class='nav-link-ctn'><a class='nav-link' href="{% url 'blog-about' %}">About</a></span>
                </section>
                <section class = 'nav-right flex-default'>
                    {% if user.is_authenticated %}
                        <span class='nav-link-ctn'><a class='nav-link' href='{% url "blog-post-create" %}'>New Post</a></span>
                        <span class='nav-link-ctn'><a class='nav-link' href='{% url "user-profile" %}'>Profile</a></span>
                        <span class='nav-link-ctn'><a class='nav-link' href='{% url "user-logout" %}'>Log Out</a></span>
                    {% else %}
                        <span class='nav-link-ctn'><a class='nav-link' href='{% url "user-login" %}'>Login</a></span>
                        <span class='nav-link-ctn'><a class='nav-link' href="{% url 'user-register'%}">Register</a></span>
                    {% endif %}
                </section>
            </div>
        </nav>
    </header>
    <!--Main Content-->
    <main>
        <div class='main-section'>
        {% if messages %}
            {% for message in messages %}
                <div class='alert alert-{{message.tags}}'>
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}
        {% block content %}
        {% endblock %}
        </div>
        <div class='side-nav-ctn border-style-1'>
            <ul class='side-nav  border-style-1'>
                <li>Option 1</li>
                <li>Option 2</li>
                <li>Option 3</li>
                <li>Option 4</li>
            </ul>
        </div>
    </main>
</body>
</html>