{% extends "blog/base.html" %}
{% load static %}
{% block title %}
    Create Post
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" type='text/css' href="{% static 'users/main.css' %}">
{% endblock %}


{% block content %}
<div class='user-register border-style-1'>
    <form class='register-form' method='POST'>
        {% csrf_token %}
        <fieldset class="form-field-set">
            <legend class="legend-style-1"> Blog Post </legend>
            {{ form.as_p }}
        </fieldset>

        <input class='form-submit-button margin-top-20' type='submit' value='Create' />
    </form>
</div>
{% endblock %}