{% extends "blog/base.html" %}
{% load static %}
{% block title %}
    Register
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type='text/css' href="{% static 'users/main.css' %}">
{% endblock %}


{% block content %}
    <div class='user-register border-style-1'>
        <form class='register-form' method='POST'>
            {% csrf_token %}
            <fieldset class="form-field-set">
                <legend class="legend-style-1"> Join Today! </legend>
                {{ form.as_p }}
            </fieldset>

            <input class='form-submit-button margin-top-20' type='submit' value='Sign Up'/>
        </form>
        <div class='form-footer'>
            <small class="form-footer-small">
                Already have an account? 
                <a href="{% url 'user-login' %}">Sign In</a> 
            </small>
        </div>
    </div>
{% endblock %}